<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8eabb0">  <td>22/06/08 13:01:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.testStartServer()[pri:0, instance:com.test.maya.NewTest@54c562f7]">testStartServer</td> 
  <td>main@1904253191</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>22/06/08 13:01:38</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.testclient()[pri:0, instance:com.test.maya.NewTest@54c562f7]">testclient</td> 
  <td>main@1904253191</td>   <td></td> </tr>
</table>
